/.idea/
/bin/
src.exe
src.o
.idea/
/.ignore/
/package_project/*.zip
/package_project/Release*/
/package_project/build/

src.bin

# Build artifacts
*.exe
*.pdb
*.o
*.obj
*.bin
build/
dist/
target/
defenistration_game
